/* ==========================
        GOOGLE FONT
========================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


/* ==========================
        CSS VARIABLES
========================== */

:root{

    --primary:#0F766E;
    --primary-light:#14B8A6;

    --income:#22C55E;
    --expense:#EF4444;

    --background:#F8FAFC;
    --card:#FFFFFF;

    --border:#E2E8F0;

    --title:#1E293B;
    --text:#64748B;

    --shadow:
    0 6px 20px rgba(0,0,0,.08);

}


/* ==========================
        RESET
========================== */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    font-family:"Inter",sans-serif;

    background:var(--background);

    color:var(--title);

}

button{

    cursor:pointer;
    border:none;

}

input,
select{

    border:none;
    outline:none;

}

a{

    text-decoration:none;

}

img{

    max-width:100%;

}

.container{

    width:90%;
    max-width:1200px;

    margin:auto;

}


/* ==========================
        HEADER
========================== */

.header{

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 6%;

    box-shadow:var(--shadow);

    position:sticky;

    top:0;

    z-index:100;

}


.logo{

    display:flex;

    align-items:center;

    gap:12px;

}


.logo i{

    color:var(--primary);

    font-size:30px;

}


.logo h2{

    font-size:28px;

}


.add-btn{

    background:var(--primary);

    color:white;

    padding:14px 22px;

    border-radius:12px;

    display:flex;

    gap:10px;

    align-items:center;

    transition:.3s;

}


.add-btn:hover{

    background:var(--primary-light);

}


/* ==========================
        GREETING
========================== */

.greeting{

    margin-top:40px;

    margin-bottom:30px;

}


.greeting h1{

    font-size:36px;

    margin-bottom:10px;

}


.greeting p{

    color:var(--text);

}


/* ==========================
        SUMMARY
========================== */

.summary{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:25px;

}


.card{

    background:var(--card);

    border-radius:18px;

    padding:25px;

    box-shadow:var(--shadow);

    display:flex;

    justify-content:space-between;

    align-items:center;

    transition:.3s;

}


.card:hover{

    transform:translateY(-5px);

}


.card-icon{

    width:65px;

    height:65px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:24px;

}


.balance-card .card-icon{

    background:#D1FAE5;

    color:var(--primary);

}


.income-card .card-icon{

    background:#DCFCE7;

    color:var(--income);

}


.expense-card .card-icon{

    background:#FEE2E2;

    color:var(--expense);

}


.card-info h3{

    color:var(--text);

    margin-bottom:8px;

    font-weight:500;

}


.card-info h2{

    font-size:30px;

}